{% extends 'base.html' %}

{% block title %}Update{% endblock %}

{% block content %}
<strong  class="my-2">Update a Key's Value</strong>
<form method="post">
    {% csrf_token %}
    <div class="form-group my-2">
        <select class="form-control" name="key" required>
            <option value="" selected disabled>Select a Key</option>
            {% for key in data.keys %}
            <option value="{{ key }}">{{ key }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group my-2">
        <input type="text" class="form-control" name="value" required placeholder="Enter new value">
    </div>
    <button type="submit" class="btn btn-primary my-2">Update</button>
</form>
{% endblock %}
