{% extends 'base.html' %}

{% block title %}
  Add Dish
{% endblock %}

{% block content %}
  <div class="container-sm mt-4 bg-light p-lg-5 d-flex align-items-center flex-column font-monospace " style="background-color: #f8f9fa; ">
    <h2 class="mb-4 fw-bolder">Add Dish</h2>
    <div class="bg-white w-25 p-4 border " style="min-width: 300px;">
      <form method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="name" class="form-label">Dish Name</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Enter name here" />
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <input type="number" class="form-control" id="price" name="price" placeholder="Enter price here" />
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea class="form-control" id="description" name="description" rows="3" placeholder="Enter short description"></textarea>
        </div>
        <button type="submit" class="btn btn-dark w-100 ">Add</button>
      </form>
    </div>
  </div>
{% endblock %}
