{% extends 'base.html' %}

{% block title %}
  Zomato Menu
{% endblock %}

{% block content %}
  <div class="container mt-4 border p-4 bg-gray-10" style="background-color: #f8f9fa;">
    <div class="row">
      {% for dish in menu %}
        <div class="col-md-3 col-lg-3">
          <div class="card text-bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">${{ dish.price }}</div>
            <div class="card-body">
              <h5 class="card-title">{{ dish.name }}</h5>
              <p class="card-text">{{dish.description}}</p>
           <div class="d-flex justify-content-between ">
                <form method="post">
                  {% csrf_token %}
                  {{ order_form.dish_id.as_hidden }}
                  {% if dish.available %}
                    <button type="submit" class="btn btn-dark"><p class="card-text">Grab me🤤</p></button>
                  {% else %}
                    <button type="button" class="btn btn-dark disabled">
                      <p class="card-text text-danger">
                        <strong>Not Available</strong> 😒
                      </p>
                    </button>
                  {% endif %}
                </form>
                <form method="get"action="{% url 'update_dish' dish.id %}">
                  {% csrf_token %}
                  {{ order_form.dish_id.as_hidden }}
                  <button type="submit" class="btn btn-dark"><p class="card-text">Edit ✏</p></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
