{% extends 'base.html' %}

{% block title %}
  Update Order Status
{% endblock %}

{% block content %}
  <div class="container mt-4 border p-4 bg-gray-10 d-flex align-items-center flex-column font-monospace" style="background-color: #f8f9fa;">
    <div>
      <h2 class="mb-4 fw-bolder">Order Status</h2>
      <p>
        <strong>Order ID:</strong> #{{ order.id }}
      </p>
      <p>
        <strong>Customer Name:</strong> {{ order.customer_name }}
      </p>
      <p>
        <strong>Ordered Dishes:</strong>
        {% for dish in order.dishes %}
          <button type="button" class="btn btn-dark position-relative">{{ dish.name }} ${{dish.price}}</button>
          {% if not forloop.last %} {% endif %}
        {% endfor %}
      </p>
      <div class="bg-white p-4 border">
        <form method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="status" class="form-label">New Status</label>
            <select class="form-select" id="status" name="status">
              <option value={{order.status}}>Current Status: {{order.status}}</option>
              <option value="received">Received</option>
              <option value="preparing">Preparing</option>
              <option value="ready for pickup">Ready for Pickup</option>
              <option value="delivered">Delivered</option>
            </select>
          </div>
          <button type="submit" class="btn btn-dark">Update Status</button>
        </form>
      </div>
      <p class="mt-3">
        <strong>Total Price:</strong> ${{ order.total_price }}
      </p>
    </div>
  </div>
{% endblock %}
